# Python/venv
.venv/
.env
.fle/
__pycache__/
*.pyc
uv.lock

# IDE/editor
.idea/
.vscode/
.DS_Store

# Build/dist
/dist

# Docker
**/docker-compose.yml

# Misc
trajectory_logs/
wandb/
summary_cache/
**/.claude/settings.local.json
*.mp4
*.jsonl
*.db
CLAUDE.md

# API
api_keys.json

# fle
.fle/
